
body
{
    box-sizing: border-box;
    background-color: #fae4fc;
}
.class1
{
      text-align: center;
}
.line
{
    background-color: black;
    height: 2px;
    
}
.class2
{
    text-align: center;
    font-size: 15px;
}
.threecol
{
    
    display: flex;
}
.threecol p
{
    font-size: 15px;
}
.colLine
{
    background: black;
    width: 2px;
      margin-bottom: 50px;
    margin-top: 30px;
}
.col1,.col2,.col3
{
    width: 33.333%;
    margin: 1.5em;
}
.oneletter
{
    font-style: italic;
    font-size: 30px;
}
.maincol
{ 
    text-align: center;
   width:300px;
   margin-left: 22px; 
   margin-right: 22px;
}
.textshare
{
    font-style: italic;
    margin-left: 20px;
    color: red;
}
.imageshare
{
    margin-left: 10px;
    display: flex;
    padding: 0;
    margin: 0;
}
.imageshare img
{
    margin-left: 10px;
    width: 120px;
    height: 120px;
    padding: 10px;
    border:2px ridge black;
}